@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

body {
  background-color: #f2eee3;
}
.ffig {
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 100px 200px;
  min-width: 530px;
  max-width: 595px;
  min-height: 420px;
  width: 100%;
  color: red;
  text-align: right;
  line-height: 1.4em;
  background-color: #f2eee3;
  font-size: 16px;
}
.ffig * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.ffig img {
  position: absolute;
  right: 0%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.ffig figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.ffig h2,
.ffig p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.ffig h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.ffig p {
  font-size: 0.8em;
}
.ffig a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.ffig:hover img,
.snip1482.hover img {
  width: 55%;
  right: -10%;
}
.ffig:hover figcaption h2,
.ffig.hover figcaption h2,
.ffig:hover figcaption p,
.ffig.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

